mixin slide(classNames)
  if classNames
    section(class=classNames, data-bespoke-backdrop='backdrop ' + classNames.split(' ').map(function(className) { return 'backdrop--' + className; }).join(' '))
      block
  else
    section
      block

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Curso Roadmapping Tecnológico - Presentación y Programa

    link(rel='stylesheet', type='text/css', href='build/build.css')


  body

    article

      +slide('portada')
      +slide('contacto')
      +slide('que-es-visualizacion cascade')
      +slide('cuantos-tres')
      +slide('cuantos-ochos')
      +slide('cuantos-cuatros')
      +slide('tables-and-tables')
      +slide('que-tal-si')
      +slide('pero-para-que')
      +slide('cascade')
        .titleRedBg
          h2 Sin embargo, con visualización también se pueden crear pésimas experiencias
        br
        img(src="images/3d-barchart.jpg",width="45%")
      +slide('mal-diseno')
      +slide('cinco-consejos')
      +slide('typical-fail')
        .tint
          h1 1. Errores básicos que no deberías cometer
      +slide('cascade')
        .titleBlueBg
          h2 Las partes no suman el todo
        br
        img(src="images/fox-pie-chart-fail.jpg",width="50%")
      +slide('cascade')
        .titleBlueBg
          h2 No respetar las convenciones
        br
        img(src="images/florida-gun-deaths.jpg",width="32%")
      +slide('cascade')
        .titleBlueBg
          h2 Mezclar escalas
        br
        img(src="images/changing-face-of-america.jpg",width="42%")
      +slide('cascade')
        .titleBlueBg
          h2 Medidas no consistentes
        br
        img(src="images/baseball-barchart-fail.png",width="70%")
      +slide('cascade')
        .titleBlueBg
          h2 Escalas variables
        br
        img(src="images/variable-scales.png",width="42%")
      +slide('cascade')
        .titleBlueBg
          h2 Difícil de comparar
        br
        br
        img(src="images/hard-to-compare.jpg",width="62%")
      +slide('girlfriend')
        .tint
          h1 2. Es arte, pero no te sobreactúes
      +slide('cascade')
        .titleBlueBg
          h2 Reading, Writing and Earning Money
        br
        img(src="images/reading-writing-earning.png",width="70%")
      +slide('cascade')
        .titleBlueBg
          h2 New Yorker - Radiaton Doses
        br
        video(width='60%', controls='')
          source(src='videos/newyorker2.webm', type='video/webm')
      +slide('cascade')
        .titleBlueBg
          h2 The Globe and Mail - Gun Laws by State
        br
        video(width='60%', controls='')
          source(src='videos/gun-laws-by-state.webm', type='video/webm')
      +slide('cascade')
        .titleBlueBg
          h2 The Guardian - LGBTI Rights
        br
        video(width='60%', controls='')
          source(src='videos/the-guardian-lgbti.webm', type='video/webm')
      +slide('art')
        .tint
          h1 3. Pero recuerda que también es arte
      +slide('cascade')
        .titleBlueBg
          h2 Moebio - Views of the Sky
        br
        video(width='60%', controls='')
          source(src='videos/views-of-the-sky.webm', type='video/webm')
      +slide('cascade')
        .titleBlueBg
          h2 Patatap
        br
        video(width='60%', controls='')
          source(src='videos/patatap.webm', type='video/webm')
      +slide('cascade')
        .titleBlueBg
          h2 Moebio - Venn Diagram
        br
        video(width='60%', controls='')
          source(src='videos/venn-diagram.webm', type='video/webm')
      +slide('mobile-cat')
        .tint
          h1 4. Diseña para móvil (Pero de verdad)
      +slide('cascade')
        .titleBlueBg
          h2 Analytic Board - Análisis demográfico
        br
        video(width='60%', controls='')
          source(src='videos/sicgem-web.webm', type='video/webm')
      +slide('cascade')
        .titleBlueBg
          h2 Analytic Board - Análisis demográfico
        br
        video(width='30%', controls='')
          source(src='videos/sicgem-mobile.webm', type='video/webm')
      +slide('cascade')
        .titleBlueBg
          h2 Analytic Board - Seguimiento Plan de Desarrollo
        br
        video(width='60%', controls='')
          source(src='videos/seguimientoff-web.webm', type='video/webm')
      +slide('cascade')
        .titleBlueBg
          h2 Analytic Board - Seguimiento Plan de Desarrollo
        br
        video(width='30%', controls='')
          source(src='videos/seguimientoff-mobile.webm', type='video/webm')
      +slide('cascade')
        .titleBlueBg
          h2 NPR - Urban Neighborhood Wal-Mart
        br
        video(width='60%', controls='')
          source(src='videos/wal-mart-web.webm', type='video/webm')
      +slide('cascade')
        .titleBlueBg
          h2 NPR - Urban Neighborhood Wal-Mart
        br
        video(width='22%', controls='')
          source(src='videos/wal-mart-mobile.webm', type='video/webm')
      +slide('bees')
        .tint
          h1 5. Diseña teniendo en cuenta tu objetivo y audiencia
      +slide('cascade')
        .titleBlueBg
          h2 Pitch Interactive - Drone strikes in Pakistan since 2004
        br
        video(width='60%', controls='')
          source(src='videos/drone-attacks.webm', type='video/webm')
      +slide('cascade')
        .titleBlueBg
          h2 NZZ Mediengruppe - Yolo Flip
        br
        video(width='60%', controls='')
          source(src='videos/yolo-flip.webm', type='video/webm')
      +slide('cascade')
        .titleBlueBg
          h2 Digital Thought Facility - Selfie City
        br
        video(width='60%', controls='')
          source(src='videos/selfie-city.webm', type='video/webm')
      +slide('my-eyes')
        .tint
          h1 Bonus - Gráficas que deberías evitar o usar con precaución
      +slide('cascade')
        .titleBlueBg
          h2 Pie chart
        br
        br
        img(src="images/pie-chart.png",width="42%")
      +slide('cascade')
        .titleBlueBg
          h2 Radar Chart
        br
        img(src="images/radar-chart.png",width="60%")
      +slide('cascade')
        .titleBlueBg
          h2 Unit Chart
        br
        img(src="images/unit-chart.png",width="50%")
      +slide('cascade')
        .titleBlueBg
          h2 Funnel Chart
        br
        br
        img(src="images/funnel-chart.png",width="60%")
      +slide('contacto')


    script(src='build/build.js')
